@model Bja.Central.Web.Models.LoginModel

@{
    ViewBag.Title = "Ingresar al Sistema";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use su cuenta de usuario para ingresar.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @*@Html.LabelFor(m => m.UserName)*@
                <label>Usuario</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @*@Html.LabelFor(m => m.Password)*@
                <label>Contraseña</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @*@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })*@
                <span>Recordar contraseña</span>
            </li>
        </ol>
        <input type="submit" value="Ingresar" class="btn btn-primary" />
    </fieldset>
    <p>
        @Html.ActionLink("Registrese", "Register") Si usted no tiene un usuario.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    @*<h2>Debe ingresar el usuario y su contraseña.</h2>*@
    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
