@model Bja.Entidades.EstablecimientoSalud

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>EstablecimientoSalud</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSesion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaTransaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RedSalud.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RedSalud.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }, new { @class="btn" })
    @Html.ActionLink("Retornar al listado", "Index", null, new { @class="btn" })
</p>
