@model Bja.Entidades.AsignacionMedico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>AsignacionMedico</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSesion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaTransaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaInicio)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.FechaInicio)*@
        @Model.FechaInicio.ToString("dd/MM/yyyy")
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaFin)
    </div>
    <div class="display-field">
        @Model.FechaFin.ToString("dd/MM/yyyy")
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Medico.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Medico.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstablecimientoSalud.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstablecimientoSalud.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }, new { @class="btn" })
    @Html.ActionLink("Retornar al listado", "Index", null, new { @class="btn" })
</p>
