@model Bja.Entidades.AsignacionMedico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts{
<script src="/Scripts/jquery-ui-1.8.20.js"></script>
<script src="/Scripts/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#IdDepartamento").change(function () {
            fillCombo("IdProvincia", $("#IdDepartamento").val(), '@Url.Action("ProvinciasPorDepartamento")', "... Seleccione Provincia ...");
            $("#IdMunicipio").empty();
            $("#IdMunicipio").append("<option value=''>... Seleccione Municipio ...</option>");
            $("#IdEstablecimientoSalud").empty();
            $("#IdEstablecimientoSalud").append("<option value=''>... Seleccione Establecimiento de Salud ...</option>");
            $('#IdEstablecimientoSalud').val("");
        });

        $("#IdProvincia").change(function () {
            fillCombo("IdMunicipio", $("#IdProvincia").val(), '@Url.Action("MunicipiosPorProvincia")', "... Seleccione Municipio ...");
            $("#IdEstablecimientoSalud").empty();
            $("#IdEstablecimientoSalud").append("<option value=''>... Seleccione Establecimiento de Salud ...</option>");
            $('#IdEstablecimientoSalud').val("");
        });

        $("#IdMunicipio").change(function () {
            fillCombo("IdEstablecimientoSalud", $("#IdMunicipio").val(), '@Url.Action("EstablecimientosSaludPorMunicipio")', "... Seleccione Establecimiento de Salud ...");
            $('#IdEstablecimientoSalud').val("");
        });        

        function fillCombo(updateId, value, urlPath, msgSeleccion) {
            $.getJSON(urlPath + "/" + value, {},
                function (myData) {
                    $("#" + updateId).empty();
                    $("#" + updateId).append("<option value=''>" + msgSeleccion + "</option>");
                    $.each(myData, function (i, item) {
                        $("#" + updateId).append("<option value='" + item.Id + "'>" + item.Descripcion + "</option>");
                    })
                });
        }

        $("#cboIdEstablecimientoSalud").change(function () {
            $('#IdEstablecimientoSalud').val($('#cboIdEstablecimientoSalud').val());
        })

        $(function () {
            $("#FechaInicio").datepicker($.datepicker.regional["es"]);
            $("#FechaFin").datepicker($.datepicker.regional["es"]);
        });
    });
</script>    
}

<h2>Editar Asignación</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AsignacionMedico</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaInicio, new {style="width:120px;", @readonly = "readonly", maxlength=10,  @Value = Model.FechaInicio.ToString("dd/MM/yyyy")})
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaFin)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaFin, new {style="width:120px;", @readonly = "readonly", maxlength=10,  @Value = Model.FechaFin.ToString("dd/MM/yyyy")})
                                                   
            @Html.ValidationMessageFor(model => model.FechaFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <label for="Departamento">Departamento</label>
            @Html.DropDownList("IdDepartamento", "... Seleccione Departamento ...")

        <label>Provincia</label>
            @Html.DropDownList("IdProvincia", "... Seleccione Provincia ....")

        <label>Municipio</label>
            @Html.DropDownList("IdMunicipio", "... Seleccione Municipio ....")

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEstablecimientoSalud, "EstablecimientoSalud")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEstablecimientoSalud", "... Seleccione Establecimiento de Salud ...")
            @Html.ValidationMessageFor(model => model.IdEstablecimientoSalud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMedico, "Medico")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("IdMedico", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMedico)*@
            
            @{ string nombreCompleto = ViewBag.NombreCompleto; }
            @Html.TextBox("txtIdMedico", nombreCompleto, new {style="width: 500px"})
            @Html.ActionLink("Buscar Médico","BuscarMedico","AsignacionesMedico",null,
            new {@class="openDialog btn",data_dialog_id="emailDialog",data_dialog_title="Ingrese criterio de busqueda"})
            @Html.TextBoxFor(model => model.IdMedico, new {style="width: 10px; visibility:hidden0" })
            @Html.ValidationMessageFor(model => model.IdMedico)
        </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Retornar al listado", "Index", null, new { @class="btn" })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
