@model IEnumerable<Bja.Entidades.AsignacionMedico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignaciones de Médicos a Establecimiento de Salud</h2>

<p>
    @Html.ActionLink("Asignar Médico a Establecimiento de Salud", "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Nombres)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EstablecimientoSalud.Codigo)*@
            Establecimiento de Salud
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FechaInicio.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.FechaFin.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablecimientoSalud.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @{ string nombreControlador = "AsignacionesMedico"; }
            <a href="@Url.Action("Edit/"+ item.Id, nombreControlador)" title="Editar"><img src="@Url.Content("~/Images/edit16.png")" style="border:none" /></a>
            <a href="@Url.Action("Details/"+ item.Id, nombreControlador)" title="Detalles"><img src="@Url.Content("~/Images/detail16.png")"  style="border:none" /></a>
            <a href="@Url.Action("Delete/"+ item.Id, nombreControlador)" title="Eliminar"><img src="@Url.Content("~/Images/delete16.png")"  style="border:none" /></a>
        </td>
    </tr>
}

</table>
