@model Bja.Entidades.Encargado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Encargado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdTipoEncargado)
    </div>
    <div class="display-field">
        @ViewBag.TipoEncargado
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrimerApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimerApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SegundoApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SegundoApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TercerApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TercerApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentoIdentidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentoIdentidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoDocumentoIdentidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDocumentoIdentidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocalidadNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalidadNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }, new { @class="btn" })
    @Html.ActionLink("Retornar al listado", "Index", null, new { @class="btn" })
</p>
