@model IEnumerable<Bja.Entidades.Encargado>

@{
    ViewBag.Title = "Index";
}

<h2>Encargados Registrados</h2>

<p>
    @Html.ActionLink("Registrar Encargado", "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TercerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoDocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            Es Reg
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @ViewBag.TiposEncargados[item.IdTipoEncargado]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TercerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
        </td>
        <td>
            @ViewBag.TiposDI[item.IdTipoDocumentoIdentidad]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoEstadoRegistro)
            @*@ViewBag.TiposEstadosRegistros[item.IdTipoEstadoRegistro]*@
        </td>
        <td>
            @{ string nombreControlador = "Encargados"; }
            <a href="@Url.Action("Edit/"+ item.Id, nombreControlador)" title="Editar"><img src="@Url.Content("~/Images/edit16.png")" style="border:none" /></a>
            <a href="@Url.Action("Details/"+ item.Id, nombreControlador)" title="Detalles"><img src="@Url.Content("~/Images/detail16.png")"  style="border:none" /></a>
            <a href="@Url.Action("Delete/"+ item.Id, nombreControlador)" title="Eliminar"><img src="@Url.Content("~/Images/delete16.png")"  style="border:none" /></a>
        </td>
    </tr>
}

</table>
