<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui") 
        @RenderSection("PageCSS",false)

        @*<script src="~/Scripts/hoverIntent.js" type="text/javascript"></script>
        <script src="~/Scripts/superfish.js" type="text/javascript"></script>*@
        <script type="text/javascript">
            // initialise plugins

            //jQuery(document).ready(function () {
            //    jQuery(function () {
            //        jQuery('ul.sf-menu').superfish();
            //    });
            //});

            //jQuery(document).ready(function () {
            //    jQuery('ul.sf-menu').supersubs({
            //        minWidth: 12,	 // minimum width of submenus in em units
            //        maxWidth: 27,	 // maximum width of submenus in em units
            //        extraWidth: 1	 // extra width can ensure lines don't sometimes turn over
            //        // due to slight rounding differences and font-family
            //    }).superfish();		 // call supersubs first, then superfish, so that subs are
            //    // not display:none when measuring. Call before initialising
            //    // containing tabs for same reason.
            //});


        </script>            
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                    <p class="site-title"><img src="~/Images/logobja.jpg" /></p>

                    <hgroup class="titleMaster">
                        <h1 style="display:inline">BJA.</h1>
                        <h2 style="display:inline; font-weight:normal">Bono Juana Azurduy.</h2>
                    </hgroup>

                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <br />
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("Acerca de...", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                        </ul>
                    </nav>
                </div>

@{    
    string Dia = System.DateTime.Now.Day.ToString();
    string Mes = System.DateTime.Now.Month.ToString();
    string Anio = System.DateTime.Now.Year.ToString();

    string strMes = "";
    switch (Mes)
    {
        case "1": strMes = "Enero"; break;
        case "2": strMes = "Febrero"; break;
        case "3": strMes = "Marzo"; break;
        case "4": strMes = "Abril"; break;
        case "5": strMes = "Mayo"; break;
        case "6": strMes = "Junio"; break;
        case "7": strMes = "Julio"; break;
        case "8": strMes = "Agosto"; break;
        case "9": strMes = "Septiembre"; break;
        case "10": strMes = "Octubre"; break;
        case "11": strMes = "Noviembre"; break;
        case "12": strMes = "Diciembre"; break;
        default:
            strMes = ""; break;
    }
    string fechaCompleta = Dia + " de " + strMes + " de " + Anio;
}

                <div id="info">
                <div class="fltlft bxdate">@fechaCompleta</div>
                <div class="fltrt bxuser">(hyujra) | Iniciar session</div>
                <!-- end .info --></div>


                <div class="nav_">
                    <ul class="sf-menu">
                        <li class="current">
                            <a href="#">Menu Uno</a>
                            <ul>
                                <li>
                                    <a href="#">Departamento</a>
                                </li>
                                <li>
                                    <a href="#">Provicia</a>
                                </li>
                                <li>
                                    <a href="#">Municipio</a>
                                </li>
                            </ul>
                        </li>

                        <li class="current">
                            <a href="#">Menu Dos</a>
                            <ul>
                                <li>
                                    <a href="#">Red de Salud</a>
                                </li>
                                <li>
                                    <a href="#">Establecimiento de Salud</a>
                                </li>
                            </ul>
                        </li>

                        <li class="current">
                            <a href="#">Menu Tres</a>
                            <ul>
                                <li>
                                    <a href="#">Medicos</a>
                                </li>
                                <li>
                                    <a href="#">Asignacion Medicos</a>
                                </li>
                                <li>
                                    <a href="#">Encargados</a>
                                </li>
                            </ul>
                        </li>

                        <li class="current">
                            <a href="#">Menu Cuatro</a>
                            <ul>
                                <li>
                                    <a href="#">Revision Manual</a>
                                </li>
                                <li>
                                    <a href="#">Reclamos</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <!-- end .nav --></div>

            </div>


        </header>


        
    
        


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Bono Juana Azurduy</p>
                    <hr />
                </div>
            </div>
            
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @RenderSection("PageScripts",false)
    </body>
</html>