@model IEnumerable<Bja.Entidades.MadreTemporal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
        function HacerAlgo() {
            $("#Semejantes").append("<hr>");
            //alert("ddddd");
        }

        function HacerAlgo2(value) {            
            updateId = '#Semejantes';
            urlPath = '@Url.Action("ProvinciasPorDepartamento")';
            value = "69";

            $.getJSON(urlPath + "/" + value, {},
                function (myData) {
                    $(updateId).empty();
                    $.each(myData, function (i, item) {
                        $(updateId).append(" " + item.Id + ">" + item.Descripcion + "<br>");
                    })
                });
        }

        function HacerAlgo3(value) {
            updateId = '#Semejantes';
            urlPath = '@Url.Action("BuscarSemejantes")';

            $.getJSON(urlPath + "/" + value, {},
                function (myData) {
                    $(updateId).empty();
                    $.each(myData, function (i, item) {
                        //$(updateId).append(" " + item.Nombres + ">" + item.PrimerApellido + "<br>");
                        $(updateId).append(" " + item.Nombres + ">" + item.PrimerApellido +">"+ item.NombreCompleto +"<br>");
                        //$(updateId).append(" " + item.NombreCompleto + "<br>");
                    })
                });
        }

    </script>
       


@section PageScripts{
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>
}


<div id="Semejantes"></div>

<h2>Madres Depuradas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TercerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadNacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TercerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
        </td>
        <td>
            @item.FechaNacimiento.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadNacimiento)
        </td>
        <td>
            @*<a href="#" onclick="HacerAlgo()">Find</a>*@
            <input type="button" value="B" class="find" onclick=HacerAlgo3('@item.Id') />
            @{ string nombreControlador = "RevisionMadres"; }
            <a href="@Url.Action("Edit/"+ item.Id, nombreControlador)" title="Buscar"><img src="@Url.Content("~/Images/find16.png")" style="border:none" /></a>
            @*<a href="@Url.Action("Details/"+ item.Id, nombreControlador)" title="Detalles"><img src="@Url.Content("~/Images/detail16.png")"  style="border:none" /></a>
            <a href="@Url.Action("Delete/"+ item.Id, nombreControlador)" title="Eliminar"><img src="@Url.Content("~/Images/delete16.png")"  style="border:none" /></a>*@
        </td>
    </tr>
}

</table>
