@model IEnumerable<Bja.Entidades.MadreTemporal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageCSS{
    <style type="text/css">
        table.table tr:first-child td
        {
            text-align : center;
            padding: 0px;
            margin: 0px;
            border: 1px solid #ccf;
            background-color: #eee;
        }

        table.table tr:first-child input
        {
            border: none;
        }

        thead.fixedHeader th {
    background: none repeat scroll 0% 0% rgb(204, 153, 102);
    border-left: 1px solid rgb(238, 187, 136);
    border-right: 1px solid rgb(187, 119, 68);
    border-top: 1px solid rgb(238, 187, 136);
    font-weight: normal;
    padding: 4px 3px;
    text-align: left;
}

        html > body thead.fixedHeader th {
    width: 200px;
}
    </style>
}

    <script type="text/javascript">
        function BuscarSimilar(value) {
            var pbus = ConstruirParametrosBusqueda(value);

            //alert(checkeados.Id);
            //alert(checkeados.Nombres);
            //alert(checkeados.PrimerApellido);
            //alert(checkeados.SegundoApellido);
            //alert(checkeados.TercerApellido);
            //alert(checkeados.NombreCompleto);
            //alert(checkeados.DocumentoIdentidad);
            //alert(checkeados.FechaNacimiento);
            //alert(checkeados.LocalidadNacimiento);

            updateId = '#Semejantes';
            urlPath = '@Url.Action("BuscarSemejantes")';

            var str = "";
            $.getJSON(urlPath, pbus,
                function (myData) {
                    str += "<table class='table'>";
                    str += "<tr>";
                    str += "<th>ID</th>";
                    str += "<th>Nombres</th>";
                    str += "<th>PrimerApellido</th>";
                    str += "<th>SegundoApellido</th>";
                    str += "<th>TercerApellido</th>";
                    str += "<th>NombreCompleto</th>";
                    str += "<th>DocumentoIdentidad</th>";
                    str += "<th>FechaNacimiento</th>";
                    //str += "<th>LocalidadNacimiento</th>";
                    str += "<th></th>";
                    str += "</tr>";

                    
                    $.each(myData, function (i, item) {
                        //$(updateId).append(" " + item.Nombres + ">" + item.PrimerApellido + "<br>");
                        //$(updateId).append("N " + item.Nombres + " >PA> " + item.PrimerApellido + " >SA> " + item.SegundoApellido + " >TA> " + item.TercerApellido + ">NC>" + item.NombreCompleto + " >DI> " + item.DocumentoIdentidad + " >FN> " + item.FechaNacimiento + " >LO> " + item.LocalidadNacimiento + "<br>");
                        //$(updateId).append(" " + item.NombreCompleto + "<br>");
                        //$(updateId).append("N " + item.Nombres + " >PA> " + item.PrimerApellido + " >SA> " + item.SegundoApellido + " >TA> " + item.TercerApellido + ">NC>" + item.NombreCompleto + " >DI> " + item.DocumentoIdentidad + " >FN> " + item.FechaNacimiento + " >LO> " + item.LocalidadNacimiento + "<br>");
                        //$(updateId).append("<tr><td>"+ item.Nombres +"</td> <td>"+ item.PrimerApellido +"</td><td>"+ item.SegundoApellido +"</td><td>"+ item.TercerApellido +"</td><td>"+ item.NombreCompleto +"</td><td>"+ item.DocumentoIdentidad +"</td><td>"+ item.FechaNacimiento +"</td><td>"+ item.LocalidadNacimiento +"</td><td></td></tr>");
                        str += "<tr>";
                        str += "<td>"+ item.llavePrimaria +"</td>";
                        str += "<td>"+ item.Nombres +"</td>";
                        str += "<td>"+ item.PrimerApellido +"</td>";
                        str += "<td>"+ item.SegundoApellido +"</td>";
                        str += "<td>"+ item.TercerApellido +"</td>";
                        str += "<td>"+ item.NombreCompleto +"</td>";
                        str += "<td>"+ item.DocumentoIdentidad +"</td>";
                        str += "<td>"+ item.FechaNacimiento +"</td>";
                        //str += "<td>"+ item.LocalidadNacimiento +"</td>";
                        str += "<td></td>";
                        str += "</tr>";
                    })
                    str += "</table>";
                    $(updateId).empty();
                    $(updateId).append(str);
                });

            //$.getJSON(urlPath + "/" + value, {},
            //    function (myData) {
            //        $(updateId).empty();
            //        $.each(myData, function (i, item) {
            //            //$(updateId).append(" " + item.Nombres + ">" + item.PrimerApellido + "<br>");
            //            $(updateId).append(" " + item.Nombres + ">" + item.PrimerApellido +">"+ item.NombreCompleto +"<br>");
            //            //$(updateId).append(" " + item.NombreCompleto + "<br>");
            //        })
            //    });
        }
    </script>

@section PageScripts{
<script type="text/javascript">
    $("#personCreate").click(function () {
        $('.optBusqueda').each(function(){
            var checkbox = $(this);
            alert('El checkbox ' + checkbox.attr('name') + ' está checkeado? ' + checkbox.is(':checked')  );
        });
    });

    function ListarCheckeados01() {
        $('.optBusqueda').each(function() {
            var checkbox = $(this);
            alert('El checkbox ' + checkbox.attr('name') + ' está checkeado? ' + checkbox.is(':checked'));
        });
    }

    function ConstruirParametrosBusqueda(value) {
        return {
            Identificador : value,
            Nombres : $("#Nombres").is(':checked'),
            PrimerApellido : $("#PrimerApellido").is(':checked'),
            SegundoApellido : $("#SegundoApellido").is(':checked'),
            TercerApellido : $("#TercerApellido").is(':checked'),
            NombreCompleto : $("#NombreCompleto").is(':checked'),
            DocumentoIdentidad : $("#DocumentoIdentidad").is(':checked'),
            FechaNacimiento : $("#FechaNacimiento").is(':checked'),
            LocalidadNacimiento : $("#LocalidadNacimiento").is(':checked')
        };
    }
</script>
}

<h2>Madres Depuradas</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<input type="submit" value="Save" id="personCreate" />*@

<div style="height: 300px; overflow-y: scroll;">
<table class="table">
    <tr>
        <td>
            @Html.CheckBox("Nombres", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("PrimerApellido", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("SegundoApellido", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("TercerApellido", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("NombreCompleto", true, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("DocumentoIdentidad", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("FechaNacimiento", false, new { @class = "optBusqueda" })
        </td>
        <td>
            @Html.CheckBox("LocalidadNacimiento", false, new { @class = "optBusqueda" })
        </td>
        <td></td>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TercerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadNacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TercerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
        </td>
        <td>
            @item.FechaNacimiento.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadNacimiento)
        </td>
        <td>
            @*<a href="#" onclick="HacerAlgo()">Find</a>*@
            <input type="button" value="Buscar" class="btn" onclick="BuscarSimilar(@item.Id)" />

@*            @{ string nombreControlador = "RevisionMadres"; }
            <a href="@Url.Action("")" title="Buscar"><img src="@Url.Content("~/Images/find16.png")" style="border:none" onclick="HacerAlgo(@item.Id)" /></a>*@

            @*<a href="@Url.Action("Details/"+ item.Id, nombreControlador)" title="Detalles"><img src="@Url.Content("~/Images/detail16.png")"  style="border:none" /></a>
            <a href="@Url.Action("Delete/"+ item.Id, nombreControlador)" title="Eliminar"><img src="@Url.Content("~/Images/delete16.png")"  style="border:none" /></a>*@
        </td>
    </tr>
}
</table>
</div>
<h2>Madres Semejantes</h2>
<div id="Semejantes"></div>